* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

p {
  margin: 0 0 10px;
}
a {
  text-decoration: none;
  /* color: #3c8dbc; */
}
img {
  vertical-align: middle;
  border: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: " ";
}

.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}

.wrapper {
  height: auto;
  min-height: 100%;
  background-color: #222d32;
  position: relative;
  /* overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box; */
}
header {
}
body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
}
.main-header {
  position: relative;
  max-height: 100px;
  z-index: 1030;
}
.main-header .logo {
  -webkit-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
  display: block;
  float: left;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  width: 230px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0 15px;
  font-weight: 300;
  overflow: hidden;
}
.main-header .logo .logo-mini {
  display: none;
}
.main-header .navbar {
  -webkit-transition: margin-left 0.3s ease-in-out;
  -o-transition: margin-left 0.3s ease-in-out;
  transition: margin-left 0.3s ease-in-out;
  margin-bottom: 0;
  margin-left: 230px;
  border: none;
  min-height: 50px;
  border-radius: 0;
}

.main-header .sidebar-toggle {
  float: left;
  background-color: transparent;
  background-image: none;
  padding: 11px 15px;
  font-family: fontAwesome;
}
/* .main-header .sidebar-toggle:before {
  content: "\f0c9";
} */

.skin-blue .main-header .logo {
  background-color: #367fa9;
  color: #fff;
  border-bottom: 0 solid transparent;
}
.skin-blue .main-header .navbar {
  background-color: #3c8dbc;
}
.skin-blue .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-blue .main-header .navbar .nav > li > a {
  color: #fff;
}

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px;
}

[role="button"] {
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.main-header .navbar-custom-menu,
.main-header .navbar-right {
  float: right;
}

.main-header .top-menu {
  float: left;
  /* padding: 15px 15px; */
}
.main-header .top-menu a {
  float: inherit;
  display: block;
  padding: 15px 30px;
  color: #19476e;
  font-weight: bold;
}

.main-header .top-menu a.active {
  border-bottom: 2px solid #ffffff;
  color:#ffffff;
}

.navbar-nav {
  margin: 7.5px -15px;
}

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.dropup,
.dropdown {
  position: relative;
}
.navbar-custom-menu > .navbar-nav > li {
  position: relative;
}

.navbar-nav > .user-menu .user-image {
  float: left;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
}

.nav > li > a > img {
  max-width: none;
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

@media (min-width: 768px) {
  .navbar-static-top {
    border-radius: 0;
  }
  .navbar-nav {
    float: left;
    margin: 0;
  }
  .navbar-nav > li {
    float: left;
  }
  .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 10px;
  }
}

@media (max-width: 991px) {
  .navbar-custom-menu > .navbar-nav {
    float: right;
  }
  .navbar-custom-menu .navbar-nav {
    margin: 0;
    float: left;
  }
  .navbar-custom-menu > .navbar-nav > li {
    position: static;
  }
  .navbar-custom-menu .navbar-nav > li {
    float: left;
  }
  .main-header .navbar-custom-menu a,
  .main-header .navbar-right a {
    color: inherit;
    background: transparent;
  }
  .navbar-custom-menu .navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
  }
}

/* 사이드바 */
.main-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  min-height: 100%;
  width: 230px;
  z-index: 810;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.sidebar {
  padding-bottom: 10px;
  height: auto;
}

.sidebar-menu,
.main-sidebar .user-panel,
.sidebar-menu > li.header {
  white-space: nowrap;
  overflow: hidden;
}

.user-panel {
  position: relative;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}
.user-panel:before,
.user-panel:after {
  content: " ";
  display: table;
}

.user-panel > .info > p {
  font-weight: 600;
  margin-bottom: 9px;
}

.pull-left {
  float: left;
  float: left !important;
}

.user-panel > .image > img {
  width: 100%;
  max-width: 45px;
  height: auto;
}

.img-circle {
  border-radius: 50%;
}

.user-panel > .info {
  /* padding: 5px 5px 5px 15px; */
  line-height: 1;
  /* position: absolute; */
  /* left: 55px; */
}

.user-panel > .info > a {
  text-decoration: none;
  padding-right: 5px;
  margin-top: 3px;
  font-size: 11px;
}

.user-panel:before,
.user-panel:after {
  content: " ";
  display: table;
}
.user-panel:after {
  clear: both;
}

.skin-blue .user-panel > .info,
.skin-blue .user-panel > .info > a {
  color: #fff;
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.skin-blue .wrapper,
.skin-blue .main-sidebar,
.skin-blue .left-side {
  background-color: #222d32;
}

.skin-blue .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}

.sidebar-form,
.sidebar-menu > li.header {
  overflow: hidden;
  text-overflow: clip;
}

.treeview-menu {
  /* display: none; */
  list-style: none;
  padding: 0;
  margin: 0;
  /* padding-left: 5px; */
}

.treeview-menu > li {
  margin: 0;
}

.treeview-menu > li > a > .fa,
.treeview-menu > li > a > .glyphicon,
.treeview-menu > li > a > .ion {
  width: 20px;
}

.treeview-menu > li > a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
}

.skin-blue .sidebar-menu .treeview-menu > li > a {
  color: #8aa4af;
}

.skin-blue .sidebar-menu > li > .treeview-menu {
  /* margin: 0 1px; */
  background: #2c3b41;
}

.sidebar-menu,
.main-sidebar .user-panel,
.sidebar-menu > li.header {
  white-space: nowrap;
  overflow: hidden;
}

.sidebar-menu li.header {
  padding: 10px 25px 10px 15px;
  font-size: 12px;
}

.sidebar-menu > li {
  position: relative;
  margin: 0;
  padding: 0;
}

.skin-blue .sidebar-menu > li > a.active {
  border-left-color: #3c8dbc;
}

.skin-blue .sidebar-menu > li:hover > a,
.skin-blue .sidebar-menu > li > a.active,
.skin-blue .sidebar-menu > li.menu-open > a {
  color: #fff;
  background: #1e282c;
}
.skin-blue .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}

.skin-blue .sidebar a {
  color: #b8c7ce;
}
.sidebar-menu li > a {
  position: relative;
}
.sidebar-menu > li > a {
  padding: 12px 5px 12px 15px;
  display: block;
}

.sidebar-menu > li > a > .fa,
.sidebar-menu > li > a > .glyphicon,
.sidebar-menu > li > a > .ion {
  width: 15px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.skin-blue .sidebar-menu .treeview-menu > li > a.active,
.skin-blue .sidebar-menu .treeview-menu > li > a:hover {
  color: #fff;
}

.skin-blue .sidebar-menu .treeview-menu > li > a.active {
  border-left-color: #3c8dbc;
}
.skin-blue .sidebar-menu .treeview-menu > li > a {
  border-left: 5px solid transparent;
}

.sidebar-menu li > a > .fa-angle-left,
.sidebar-menu li > a > .pull-right-container > .fa-angle-left {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
  -webkit-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}

.fa.pull-right {
  margin-left: 0.3em;
}

.sidebar-menu li > a > .pull-right-container {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -7px;
}


/* 컨텐츠 영역 */
.content-wrapper {
  min-height: 100%;
  background-color: #ecf0f5;
  z-index: 800;
}
.content-wrapper, .main-footer {
  -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out;
  transition: transform .3s ease-in-out,margin .3s ease-in-out;
  margin-left: 230px;
  z-index: 820;
}